<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="TasksEvents" packages="com.hiperium.city.tasks.events">
    <Appenders>
        <Console name="JsonAppender" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:LambdaJsonLayout.json" complete="false" compact="false" eventEol="true" properties="false" objectMessageAsJsonObject="true" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.hiperium.city.tasks.events" level="debug" additivity="false">
            <AppenderRef ref="JsonAppender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="JsonAppender"/>
        </Root>
    </Loggers>
</Configuration>
