<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="TasksEvents" packages="com.hiperium.city.tasks.events">
    <Appenders>
        <Console name="JsonAppender" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="false" eventEol="true" properties="false" stacktraceAsString="true">
                <KeyValuePair key="appName" value="city-tasks-events" />
                <KeyValuePair key="version" value="1.6.0" />
            </JsonLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.hiperium.city.tasks.events" level="debug" additivity="false">
            <AppenderRef ref="JsonAppender"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="JsonAppender"/>
        </Root>
    </Loggers>
</Configuration>
